<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_NAME" value="Lumen Boilerplate"/>
        <env name="APP_KEY" value="base64:HUmcZPE2aDyqwp4f5C6w1AOkjHSXf5LZKBMUDp8VBA8"/>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_DEBUG" value="false"/>
        <env name="CACHE_DRIVER" value="file"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_PREFIX" value=""/>
        <env name="LOG_CHANNEL" value="single"/>

        <env name="API_DOMAIN" value="http://localhost"/>
        <env name="API_DEBUG" value="false"/>
        <env name="API_STRICT" value="true"/>
        <env name="API_SUBTYPE" value="lumen.boilerplate"/>
    </php>
</phpunit>
